
<div class="container">
    <div class="row left">
      <h1>1 Project type</h1>
      <h2>APPLICATION AREA</h2>
      <mat-form-field class="dropdown">
        <mat-label >Please choose an option</mat-label>
        <mat-select>
          @for (application of applications; track application) {
            <mat-option class="optionlist" [value]="application.value">{{application.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <h2>TILE TYPE ⓘ</h2>
      <mat-form-field>
        <mat-label>Please choose an option</mat-label>
        <mat-select>
          @for (tile of tiles; track tile) {
            <mat-option [value]="tile.value">{{tile.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <h1>2 Tile measurements</h1>
      <h2>TILE WIDTH</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Please choose an option</mat-label>
        <input type="number" matInput placeholder="" value="Sushi">
      </mat-form-field>
      <h2>TILE HEIGHT</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Please choose an option</mat-label>
        <input type="number" matInput placeholder="" value="Sushi">
      </mat-form-field>

      <h2>THICKNESS</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Please choose an option</mat-label>
        <input type="number" matInput placeholder="" value="Sushi">
      </mat-form-field>

      <h2>JOINT GAP</h2>
      <mat-form-field class="example-full-width">
        <mat-label>Please choose an option</mat-label>
        <input type="number" matInput placeholder="" value="Sushi">
      </mat-form-field>

      <button  type="submit"  class="calculate" >Calculate</button>
    </div>
    <div class="row-right">
        <h1>YOUR WORK:</h1>
        <p>Application area </p>
    </div>
</div>
